* {
    font-family: helvetica;
    outline: 0;
    margin: 0;
    padding: 0;

    -ms-touch-action: pan-x pan-y;
    touch-action: manipulation;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    letter-spacing: 1px;
    color: white;
}

body {
    overflow-x: auto;
    overflow-y: hidden;
}

.logo-header {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 100;
}

.logo-header.show {
    opacity: 1;
}

.header-menu-container {
    position: fixed;
    display: inline-block;
    text-align: right;
    z-index: 1000;
}

.header-menu {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 10pt;
    cursor: pointer;
}

.header-menu:nth-last-child(1) {
    margin-bottom: 0;
}

.white-line {
    display: inline-block;
    width: 0;
    height: 1px;
    margin-right: 10px;
    background-color: white;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.subtitle {
    position: fixed;
    width: 100vw;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.subtitle.show {
    opacity: 1;
    -webkit-transition: all 0.2s 0.3s;
    transition: all 0.2s 0.3s;
}

.scroll-container {
    border: 1px solid white;
    position: fixed;
    top: 50%;
    right: 10vw;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 100;
}

.scroll-container.hide {
    opacity: 0;
}

.scroll-container.hidden {
    display: none;
}

@keyframes scroll-animation {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    5% {
        opacity: 1;
        margin-top: 5px;
    }

    50% {
        margin-top: 30px;
    }

    80% {
        margin-top: 50px;
        opacity: 0;
    }

    99% {
        opacity: 0;
        margin-top: 70px;
    }

    100% {
        opacity: 0;
        margin-top: 0;
    }
}

.scroll-dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    margin: 0 auto;

    -webkit-animation: 2s linear 0s infinite normal forwards running scroll-animation;
    -moz-animation: 2s linear 0s infinite normal forwards running scroll-animation;
    -ms-animation: 2s linear 0s infinite normal forwards running scroll-animation;
    -o-animation: 2s linear 0s infinite normal forwards running scroll-animation;
    animation: 2s linear 0s infinite normal forwards running scroll-animation;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(25deg, #5aa3da, #0165b0);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.whatsapp-container {
    position: fixed;
    display: inline-block;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}

.whatsapp-call-text {
    color: black;
}

.whatsapp-icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer {
    position: fixed;
    font-size: 9pt;
    line-height: 20px;
}

@media all and (max-width: 767px) {
    .logo-header {
        top: 15px;
        left: 15px;
        width: 20px;
        height: 33px;
    }

    .header-menu-container {
        top: 15px;
        right: 15px;
    }

    .header-menu:active .white-line {
        width: 40px;
    }

    .subtitle {
        top: 20px;
        font-size: 14pt;
    }

    .scroll-container {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 25px;
        height: 50px;
        right: 5vw;
        border-radius: 40px;
    }

    @keyframes scroll-animation {
        0% {
            opacity: 0;
            margin-top: 0;
        }
    
        5% {
            opacity: 1;
            margin-top: 5px;
        }
    
        50% {
            margin-top: 20px;
        }
    
        80% {
            margin-top: 35px;
            opacity: 0;
        }
    
        99% {
            opacity: 0;
            margin-top: 55px;
        }
    
        100% {
            opacity: 0;
            margin-top: 0;
        }
    }

    .scroll-dot {
        -webkit-animation: 1.5s linear 0s infinite normal forwards running scroll-animation;
        -moz-animation: 1.5s linear 0s infinite normal forwards running scroll-animation;
        -ms-animation: 1.5s linear 0s infinite normal forwards running scroll-animation;
        -o-animation: 1.5s linear 0s infinite normal forwards running scroll-animation;
        animation: 1.5s linear 0s infinite normal forwards running scroll-animation;
    }

    .whatsapp-container {
        bottom: 20px;
        right: 20px;
    }

    .whatsapp-call-text {
        display: none;
    }

    .whatsapp-icon {
        width: 45px;
        height: 45px;
    }

    .footer {
        bottom: 20px;
        left: 20px;
        font-size: 8pt;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .logo-header {
        top: 25px;
        left: 25px;
        width: 50px;
        height: 75px;
    }

    .header-menu-container {
        top: 25px;
        right: 25px;
    }

    .header-menu {
        font-size: 14pt;
        margin-bottom: 20px;
    }

    .header-menu:active .white-line {
        width: 40px;
    }

    .subtitle {
        top: 40px;
        font-size: 24pt;
    }

    .scroll-container {
        width: 40px;
        height: 70px;
        border-radius: 40px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .whatsapp-container {
        bottom: 30px;
        right: 30px;
    }

    .whatsapp-icon {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .footer {
        bottom: 30px;
        left: 30px;
        font-size: 11pt;
        line-height: 25px;
    }
}

@media all and (min-width: 1025px) {
    .logo-header {
        top: 20px;
        left: 20px;
        width: 30px;
        height: 50px;
    }
    
    .header-menu-container {
        top: 30px;
        right: 30px;
    }

    .header-menu:hover .white-line {
        width: 40px;
    }

    .scroll-container {
        width: 40px;
        height: 70px;
        border-radius: 40px;
    }

    .subtitle {
        top: 40px;
    }

    .whatsapp-container {
        bottom: 40px;
        right: 30px;
    }

    .whatsapp-icon {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }

    .footer {
        bottom: 40px;
        left: 30px;
    }
}